@page "/"


<div class="container-xl">
    <div class="row mb-5">
        <ImGridMenu></ImGridMenu>
        <ImGrid></ImGrid>
    </div>
    <div class="row mt-5">
        <ImGridMenu></ImGridMenu>
        <ImGrid></ImGrid>
    </div>
</div>
