<table class="table table-bordered">
    <thead class="table-dark border-dark">
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>232</td>
            <td>232</td>
            <td>23</td>
            <td>2323</td>
        </tr>
        <tr>
            <td>232</td>
            <td>232</td>
            <td>23</td>
            <td>2323</td>
        </tr>
        <tr>
            <td>232</td>
            <td>232</td>
            <td>23</td>
            <td>2323</td>
        </tr>
        <tr class="invisible">
            <td>232</td>
            <td>232</td>
            <td>23</td>
            <td>2323</td>
        </tr>
        <tr class="invisible">
            <td>232</td>
            <td>232</td>
            <td>23</td>
            <td>2323</td>
        </tr>
        <tr class="invisible">
            <td>232</td>
            <td>232</td>
            <td>23</td>
            <td>2323</td>
        </tr>
    </tbody>
</table>
<ImPagination></ImPagination>
